/*Loaders*/
@use "../abstracts/mixins" as mix;

.loader {
  @include mix.centered(row, center, center);
  position: fixed;
  bottom:0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index:10000;
  transform:translateY(100%);
  transition:all 0.3s ease;

  svg,
  img {
    width:32px;
    height:32px;
    @include mix.rotateAnimation(0.9s, 360deg);
  }

  p,img{
    margin: 0 10px;
  }
}


