$type_pokemon:(
fire:linear-gradient(120deg, #de0c50 0%, #f98c1c 100%),
water:linear-gradient(120deg, rgba(70,176,255,1) 0%, rgba(45,81,253,1) 100%),
bug:linear-gradient(120deg, #92bc2c 0%, #35d26d 100%),
electric:linear-gradient(120deg, #c3ae36 0%, #c1972d 100%),
dark:linear-gradient(120deg, #929296 0%, #5d596d 100%),
steel:linear-gradient(120deg, #5695a3 0%, #43a5bb 100%),
normal:linear-gradient(120deg, #a0a29f 0%, #8a8a8a 100%),
ground:linear-gradient(120deg, #da7c4d 0%, #863e1f 100%),
poison:linear-gradient(120deg, #d414e0 0%, #c473ca 100%),
fighting:linear-gradient(120deg, #d3425f 0%, #d22d4e 100%),
flying:linear-gradient(120deg, #a1bbec 0%, #558aec 100%),
ghost:linear-gradient(120deg, #5f6dbc 0%, #586ff1 100%),
grass:linear-gradient(120deg, #5fbd58 0%, #4da525 100%),
psychic:linear-gradient(120deg, #fa8581 0%, #d04642 100%),
ice:linear-gradient(120deg, #75d0c1 0%, #59e8d1 100%),
dragon:linear-gradient(120deg, #2b76c3 0%, #057dda 100%),

grass-poison:linear-gradient(120deg, #5fbd58 0%, #c87bef 100%),
grass-ground:linear-gradient(120deg, #67f15c 0%, #cc6532 100%),
grass-ice:linear-gradient(120deg, #5fbd58 0%, #75d0c1 100%),
grass-psychic:linear-gradient(120deg, #54ce4a 0%, #ea5b56 100%),
grass-dragon:linear-gradient(120deg, #5ed255 0%, #1274d8 100%),
grass-flying:linear-gradient(120deg, #5fbd58 0%, #6b9af1 100%),
grass-dark:linear-gradient(120deg, #4dca44 0%, #555458 100%),
grass-fighting:linear-gradient(120deg, #59d250 0%, #e02d51 100%),
grass-fairy:linear-gradient(120deg, #58de4e 0%, #f17be7 100%),
grass-steel:linear-gradient(120deg, #51d247 0%, #44a6bb 100%),
grass-ghost:linear-gradient(120deg, #59d84f 0%, #475ede 100%),

normal-ground:linear-gradient(120deg, #a0a29f 0%, #af613a 100%),
normal-water:linear-gradient(120deg, #c3c3c3 0%, #49a1f1 100%),
normal-grass:linear-gradient(120deg, #a5a5a5 0%, #6bd464 100%),
normal-flying:linear-gradient(120deg, #848683 0%, #71a1fd 100%),
normal-fairy:linear-gradient(120deg, #929292 0%, #f375e8 100%),
normal-psychic:linear-gradient(120deg, #818281 0%, #ec6b66 100%),
normal-fighting:linear-gradient(120deg, #868686 0%, #bf2644 100%),
normal-dragon:linear-gradient(120deg, #b7b7b7 0%, #1f86ef 100%),

fighting-ghost:linear-gradient(120deg, #d83f5e 0%, #6174e0 100%),
fighting-ice:linear-gradient(120deg, #d83f5e 0%, #5ed2f5 100%),
fighting-flying:linear-gradient(120deg, #e42f53 0%, #81a8f1 100%),
fighting-phychic:linear-gradient(120deg, #d3425f 0%, #e25c57 100%),
fighting-steel:linear-gradient(120deg, #e2395a 0%, #3fb4ce 100%),
fighting-dark:linear-gradient(120deg, #d3425f 0%, #595761 100%),

poison-fighting:linear-gradient(120deg, #c43cea 0%, #d84965 100%),
poison-flying:linear-gradient(120deg, #c43cea 0%, #86b0ff 100%),
poison-ground:linear-gradient(120deg, #c43cea 0%, #da652b 100%),
poison-fire:linear-gradient(120deg, #c43cea 0%, #de9345 100%),
poison-dark:linear-gradient(120deg, #c140e6 0%, #838384 100%),
poison-bug:linear-gradient(120deg, #c535ef 0%, #89ca2b 100%),
poison-water:linear-gradient(120deg, #c544ea 0%, #3c9df5 100%),
poison-dragon:linear-gradient(120deg, #bc3fe0 0%, #2f8ae6 100%),

ground-electric:linear-gradient(120deg, #ec7b42 0%, #c5bb3a 100%),
ground-psychic:linear-gradient(120deg, #da752b 0%, #e06b67 100%),
ground-dark:linear-gradient(120deg, #da752b 0%, #58565f 100%),
ground-steel:linear-gradient(120deg, #dc723d 0%, #56bbd2 100%),
ground-rock:linear-gradient(120deg, #f37738 0%, #d4bd6c 100%),
ground-flying:linear-gradient(120deg, #ef7a40 0%, #719bea 100%),
ground-dragon:linear-gradient(120deg, #f38046 0%, #287cd2 100%),
ground-fire:linear-gradient(120deg, #ec9062 0%, #e69139 100%),

rock-fighting:linear-gradient(120deg, #bfa856 0%, #da3858 100%),
rock-poison:linear-gradient(120deg, #d2b85b 0%, #be4fde 100%),
rock-grass:linear-gradient(120deg, #f5d66d 0%, #6fc569 100%),
rock-ground:linear-gradient(120deg, #b79d44 0%, #d67849 100%),
rock-ice:linear-gradient(120deg, #c3a743 0%, #4eceb9 100%),
rock-dragon:linear-gradient(120deg, #f1d677 0%, #5041f9 100%),
rock-dark:linear-gradient(120deg, #cab980 0%, #645f79 100%),
rock-electric:linear-gradient(120deg, #bdad72 0%, #bda830 100%),
rock-water:linear-gradient(120deg, #c1ae6b 0%, #3797ec 100%),
rock-flying:linear-gradient(120deg, #bdae7a 0%, #5388ec 100%),
rock-psychic:linear-gradient(120deg, #cab774 0%, #f16c67 100%),
rock-bug:linear-gradient(120deg, #ccb97a 0%, #8cb32d 100%),
rock-steel:linear-gradient(120deg, #c9bb8a 0%, #488a98 100%),
rock-fairy:linear-gradient(120deg, #c7b77d 0%, #e66edc 100%),
rock-fire:linear-gradient(120deg, #c3b47d 0%, #e4913b 100%),

bug-ghost:linear-gradient(120deg, #92bc2c 0%, #5268e4 100%),
bug-psychic:linear-gradient(120deg, #92bc2c 0%, #f57975 100%),
bug-fairy:linear-gradient(120deg, #aadc31 0%, #ea7ce1 100%),
bug-flying:linear-gradient(120deg, #86b11e 0%, #8fb1f3 100%),
bug-poison:linear-gradient(120deg, #91bb2c 0%, #c244e6 100%),
bug-grass:linear-gradient(120deg, #a9d836 0%, #56dc4c 100%),
bug-steel:linear-gradient(120deg, #92bc2c 0%, #48b5ce 100%),
bug-rock:linear-gradient(120deg, #93bb30 0%, #dec778 100%),
bug-fighting:linear-gradient(120deg, #b7f12b 0%, #c5193c 100%),
bug-water:linear-gradient(120deg, #92bc2c 0%, #339cf9 100%),
bug-ground:linear-gradient(120deg, #99c727 0%, #d27141 100%),
bug-electric:linear-gradient(120deg, #84a730 0%, #d4ba28 100%),
bug-fire:linear-gradient(120deg, #b6dc58 0%, #e28627 100%),


ghost-poison:linear-gradient(120deg, #5f6dbc 0%, #ad3bce 100%),
ghost-dragon:linear-gradient(120deg, #5f6dbc 0%, #2b8aea 100%),
ghost-flying:linear-gradient(120deg, #5f6dbc 0%, #88aff9 100%),
ghost-dark:linear-gradient(120deg, #5669d4 0%, #5b5b5d 100%),
ghost-fire:linear-gradient(120deg, #6072dc 0%, #f59737 100%),
ghost-grass:linear-gradient(120deg, #4a5dc5 0%, #40e234 100%),
ghost-ground:linear-gradient(120deg, #586ee8 0%, #ef7234 100%),
ghost-fairy:linear-gradient(120deg, #5165da 0%, #f753e9 100%),

steel-ghost:linear-gradient(120deg, #49a6bb 0%, #4e64dc 100%),
steel-ground:linear-gradient(120deg, #5abad0 0%, #d66830 100%),
steel-flying:linear-gradient(120deg, #57aec1 0%, #548fff 100%),
steel-fairy:linear-gradient(120deg, #54b8ce 0%, #e275d9 100%),
steel-rock:linear-gradient(120deg, #44c0dc 0%, #cab15a 100%),
steel-psychic:linear-gradient(120deg, #3ca7bf 0%, #ff706b 100%),
steel-dragon:linear-gradient(120deg, #5695a3 0%, #247fdc 100%),
steel-fighting:linear-gradient(120deg, #61d3ec 0%, #ec264e 100%),


fire-normal:linear-gradient(120deg, #de8e3b 0%, #939492 100%),
fire-steel:linear-gradient(120deg, #d48c41 0%, #3d9fb5 100%),
fire-water:linear-gradient(120deg, #e6923b 0%, #3e8ed6 100%),
fire-flying:linear-gradient(120deg, #f76229 0%, #86b0ff 100%),
fire-ghost:linear-gradient(120deg, #e8943d 0%, #3952de 100%),
fire-rock:linear-gradient(120deg, #fba54c 0%, #c3ae62 100%),
fire-fighting:linear-gradient(120deg, #f7a046 0%, #e03759 100%),
fire-ground:linear-gradient(120deg, #fba54c 0%, #da7c4d 100%),
fire-psychic:linear-gradient(120deg, #ec9439 0%, #fd706b 100%),
fire-dragon:linear-gradient(120deg, #f18f2b 0%, #1876d6 100%),
fire-bug:linear-gradient(120deg, #ec973e 0%, #a0d228 100%),

water-ghost:linear-gradient(120deg, #5398d6 0%, #4353ad 100%),
water-steel:linear-gradient(120deg, #539ddf 0%, #5695a3 100%),
water-grass:linear-gradient(120deg, #569ede 0%, #6bc564 100%),
water-psychic:linear-gradient(120deg, #539ddf 0%, #ff8682 100%),
water-ice:linear-gradient(120deg, #539ddf 0%, #29b79e 100%),
water-poison:linear-gradient(120deg, #409aea 0%, #cf5bf1 100%),
water-fighting:linear-gradient(120deg, #459eec 0%, #ef385d 100%),
water-electric:linear-gradient(120deg, #409aea 0%, #ceb634 100%),
water-fairy:linear-gradient(120deg, #4ea4f1 0%, #e857dc 100%),
water-ground:linear-gradient(120deg, #45a0f1 0%, #ec7337 100%),
water-flying:linear-gradient(120deg, #539ddf 0%, #8ab0f7 100%),
water-dragon:linear-gradient(120deg, #4f94d2 0%, #116cca 100%),
water-dark:linear-gradient(120deg, #4ea5f3 0%, #565555 100%),
water-rock:linear-gradient(120deg, #4d9ee6 0%, #bba96b 100%),
water-bug:linear-gradient(120deg, #42a2f7 0%, #7aa218 100%),

electric-normal:linear-gradient(120deg, #d4bc36 0%, #898a88 100%),
electric-poison:linear-gradient(120deg, #d4bd3d 0%, #b647d6 100%),
electric-ghost:linear-gradient(120deg, #e4cc44 0%, #485fe0 100%),
electric-fire:linear-gradient(120deg, #ead146 0%, #d88f43 100%),
electric-grass:linear-gradient(120deg, #e4ca3b 0%, #53cc4a 100%),
electric-dark:linear-gradient(120deg, #bdaa3d 0%, #494750 100%),
electric-ice:linear-gradient(120deg, #ceb52f 0%, #2cad98 100%),
electric-flying:linear-gradient(120deg, #dcc33b 0%, #659aff 100%),
electric-phychic:linear-gradient(120deg, #efd338 0%, #f5645f 100%),
electric-steel:linear-gradient(120deg, #dcc339 0%, #41a3b9 100%),
electric-dragon:linear-gradient(120deg, #e0c73a 0%, #2478ce 100%),
electric-water:linear-gradient(120deg, #e0c73a 0%, #3494ea 100%),
electric-fairy:linear-gradient(120deg, #eacf39 0%, #f567e9 100%),

ice-ground:linear-gradient(120deg, #58f3d9 0%, #b75727 100%),
ice-bug:linear-gradient(120deg, #75d0c1 0%, #87af25 100%),
ice-ghost:linear-gradient(120deg, #3dcab2 0%, #445ad6 100%),
ice-flying:linear-gradient(120deg, #5de0ca 0%, #6287cc 100%),
ice-water:linear-gradient(120deg, #4bd2bc 0%, #369cf7 100%),
ice-psychic:linear-gradient(120deg, #50dec7 0%, #da4d49 100%),
ice-steel:linear-gradient(120deg, #75d0c1 0%, #46b3cc 100%),
ice-fairy:linear-gradient(120deg, #3ee0c5 0%, #e45cd9 100%),

flying-dragon:linear-gradient(120deg, #76a0ef 0%, #1f82e8 100%),
flying-steel:linear-gradient(120deg, #92b3f1 0%, #46b5ce 100%),
flying-water:linear-gradient(120deg, #a1bbec 0%, #3c9df5 100%),

dark-ice:linear-gradient(120deg, #615e6f 0%, #39c1ab 100%),
dark-normal:linear-gradient(120deg, #414144 0%, #7d7d7d 100%),
dark-flying:linear-gradient(120deg, #595761 0%, #7ba7fb 100%),
dark-fire:linear-gradient(120deg, #58575a 0%, #f59430 100%),
dark-ghost:linear-gradient(120deg, #636363 0%, #4d64e4 100%),
dark-fighting:linear-gradient(120deg, #616161 0%, #da2449 100%),
dark-steel:linear-gradient(120deg, #656567 0%, #45a9bf 100%),
dark-dragon:linear-gradient(120deg, #727273 0%, #1579e0 100%),
dark-psychic:linear-gradient(120deg, #696969 0%, #ec6661 100%),
dark-fairy:linear-gradient(120deg, #5a5a5d 0%, #fd7bf2 100%),
dark-grass:linear-gradient(120deg, #5c5b61 0%, #4ac741 100%),

dragon-flying:linear-gradient(120deg, #2083e8 0%, #81a8f1 100%),
dragon-ice:linear-gradient(120deg, #0c69c8 0%, #35d2b8 100%),
dragon-psychic:linear-gradient(120deg, #2387ef 0%, #e26560 100%),
dragon-ground:linear-gradient(120deg, #0c69c8 0%, #ea783e 100%),
dragon-fire:linear-gradient(120deg, #0c69c8 0%, #efa75d 100%),
dragon-electric:linear-gradient(120deg, #1975d2 0%, #e6ca2d 100%),
dragon-fighting:linear-gradient(120deg, #2184ea 0%, #cc3150 100%),
dragon-ghost:linear-gradient(120deg, #0c69c8 0%, #5367d6 100%),

phychic-grass:linear-gradient(120deg, #d4807d 0%, #43b33b 100%),
phychic-fairy:linear-gradient(120deg, #ec605b 0%, #f57cea 100%),
psychic-flying:linear-gradient(120deg, #fa8581 0%, #6d99ec 100%),
psychic-fighting:linear-gradient(120deg, #e87773 0%, #c32b49 100%),
psychic-fire:linear-gradient(120deg, #f76c67 0%, #e89034 100%),
psychic-ghost:linear-gradient(120deg, #f96f6a 0%, #5267da 100%),
psychic-steel:linear-gradient(120deg, #fb6f6a 0%, #47a9bf 100%),
psychic-normal:linear-gradient(120deg, #ef726e 0%, #888888 100%),
psychic-grass:linear-gradient(120deg, #fb716c 0%, #51d047 100%),

fairy-steel:linear-gradient(120deg, #ef6ae3 0%, #4995a7 100%),
fairy-flying:linear-gradient(120deg, #ec69e1 0%, #7ba1e8 100%)
);


$egg_pokemon:(
monster:#d25064,
humanlike:#d29682,
water1:#628cf1,
water2:#729afa,
water3:#5876be,
plant:#1b9015,
bug:#aac22a,
mineral:#7a6252,
flying:#475b80,
amorphous:#8a8a8a,
field:#e0c068,
fairy:#d25ab1,
ditto:#a664bf,
grass:#82d25a,
ground:#674d43,
dragon:#7a42ff
);

$habitat_pokemon:(
grassland :#0d5f0d,
forest:#2b8a6a,
waters-edge:#389ec5,
sea:#245982,
cave:#796c35,
mountain:#676f41,
rough-terrain:#596b12,
urban:#756e75,
rare:#272727
);
